@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.plus-jakarta-sans-regular {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-shadow: inset;
  }

#explorer-footer {
    padding: 10px;
    background-color: lightgrey;
    font-size: 24px;

}

#songs {
    border-color: #2B3137;
    border-style: solid;
    border-width: 2px 0px;
}

.search-button {
    border: 4px solid (255, 255, 255, 1.0) ;
}

.search-button:hover {
    border: 4px white solid !important;
}

#playlist-cards {
    margin: 0% 20%;
    display: flex;
    flex-wrap: wrap;
}

.playlist-img {
    width: 200px;
    border-radius: 10px;
}

.playlist-card {
    transition-duration: 0.4s;
    border: 2px solid grey;
    background-color: rgb(255, 255, 255, 0.4);
    margin: 40px;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

#add-card {
    transition-duration: 0.4s;
    align-content: center;
    text-align: center;
}

.song {
    display: flex;
    border-color: #2B3137;
    border-style: solid;
    border-width: 2px 0px;
    padding: 20px 40px;
}

.song-img {
    width: 130px;
    border-radius: 10px;
}

.playlist-card:hover {
    background-color: rgb(255, 255, 255, 0.55);
    cursor: pointer;
}

.modal-overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Static positioning */
    z-index: 1; /* Bring to the front */
    left: 0; /* Positioned all the way to the left */
    top: 0; /* Positioned all the way to the top */
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Black with 40% opacity */
}

.modal-content {
    background-color: #1a1e22;
    margin: 15% auto;
    padding: 40px 50px;
    border: 3px solid #282828;
    width: 80%;
    border-radius: 10px;
}

.modal-playlist {
    display: flex;
}

.like-count-info {
    display: flex;
    align-items: center;
    gap: 4%;
    align-self: flex-end;
}

.liking {
    transition-duration: 0.4s;
}

.liked-heart {
    color: red;
}

#shuffle-button {
    /* Transition between states */
    transition-duration: 0.4s;

    border: 4px rgba(255, 255, 255, 0), solid;
    font-weight: 500px;
    border-radius: 60px;
    background-color: white;
    margin: 20px 20px 20px 0px;
    padding: 10px 40px;
    display: inline;
    color: black
}

#shuffle-button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-weight: 700px;
    border: 4px white solid;
    cursor: pointer;
}

.timestamp {
    margin-left: auto;

    /* Figure out if better way to do this  */
    margin-top: auto;
    margin-bottom: auto;
}

.play-button {
    margin: auto 0px auto 50px;
    color: white;
}

.close {
    color: #AAA;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

#searching {
    display: none;
    width: 56% !important;
    background-color: white !important;
    color: rgba(43, 49, 55, 0.6) !important;
    text-align: left !important;
    font-family: "Plus Jakarta Sans";
    font-weight: bold !important;
    cursor: text;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2B3137;
}
